
        .container2 {
            background-color: #d8e0db;
            border: 1px solid #1a1818;
            width: 50vh;
            margin: 0 auto;
            padding: 30px;
            line-height: 1.5;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            text-align: right;
        }
        th, td {
            padding: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.897);
        }
        button {
            background-color: rgb(229, 69, 20);
            padding-top: 7px;
        }

        /* Added the following style definition */
        .container1 {
            background-color: #e8ebe9;
            border: 1px solid #1a1818;
            width: 70vh;
            margin: 20px auto;
            padding: 30px;
            line-height: 1.5;
        }
